.forgot-password-container {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    min-width: 400px;
}

.step-container input {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;

    /* width: 50px;*/
    height: 50px; 

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }

  .step-container h2{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

 .step-container button:hover {
    background-color: #0056b3;
  }
  
  /* .otp-inputs {
    display: flex;
    justify-content: center;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
   */

    /* 3️⃣ Reset Password */

    .password-field{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .toggle-passwordR{
        margin-bottom: 20px;
        height: 50px; 
        padding: 10px 10px;
        font-size: 14px;
        background-color: #7dff45;
        border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* width: 50px; */
    margin-left: 4px;
    }
    .password-check{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .password-check span{
        display: flex;
        align-items:start;
        font-size: 14px;
        margin-top: 27px;
        
    }

    .reset-button{
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #28a745;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: 20px;
        transition: background-color 0.2s;
    }

 