@media (min-width: 768px) {
  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: #f3f2f2; /* Light gray background */
  }

  .form-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-v10-content {
    display: flex;
    width: 80%;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-left {
    width: 40%;
    flex: 1;
    padding: 30px;
    color: #000000; /* Black text */
  }

  .form-left h2 {
    color: #135bae; /* Blue heading */
  }

  .form-right {
    width: 40%;
    flex: 1;
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .form-row,
  .form-group {
    margin-bottom: 20px;
  }

  .image-container {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%; /* Image container height */
  }

  .image-container img {
    max-width: 40%; /* Scale image */
    max-height: 100%;
  }

  .form-row input,
  .form-row select {
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc; /* Subtle border */
    background-color: transparent;
    color: #333; /* Text color */
  }

  .form-row input:hover,
  .form-row select:hover {
    border-bottom: 1px solid #135bae; /* Blue border on hover */
  }

  .form-row select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    cursor: pointer;
  }

  .form-checkbox2 {
    display: flex;
    align-items: center;
  }

  .form-checkbox2 input[type="checkbox"] {
    margin-right: 10px;
  }

  .form-row-last {
    
    margin-top: 20px;
    text-align: center;
    
  }

  .form-row-last input[type="submit"] {
    
    padding: 10px 20px;
    background-color: #135bae; /* Blue button */
    color: #ffffff; /* White text */
    border: none;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
  }

  .form-row-last input[type="submit"]:hover {
    background-color: #ae95ff; /* Lighter blue on hover */
  }

  .form-checkbox2 p {
    margin-left: 34px;
    color: #939393; /* Gray text */
    font-size: 14px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f2f2; /* Light gray */
    overflow-y: auto;
  }

  .form-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-v10-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .form-left,
  .form-right {
    width: 80%;
    padding: 30px;
  }

  .form-left h2 {
    color: #135bae;
  }

  .image-container img {
    max-width: 60%; /* Adjusted for smaller screens */
  }

  .form-row input,
  .form-row select {
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: #333;
  }

  .form-row input:hover,
  .form-row select:hover {
    border-bottom: 1px solid #135bae;
  }

  .form-row-last input[type="submit"] {
    padding: 10px 20px;
    background-color: #135bae;
    color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
  }

  .form-row-last input[type="submit"]:hover {
    background-color: #ae95ff;
  }

  .form-checkbox2 p {
    margin-left: 20px;
    color: #939393;
    font-size: 14px;
  }
}

.form-row input:focus,
.form-row select:focus,
.form-row textarea:focus {
  border-color: #007bff;
  outline: none;
}
.required-lf {
  color: red;
  font-size: 14px;
}