body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,button {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari support */
  -moz-user-select: none; /* Firefox support */
  -ms-user-select: none; /* IE/Edge support */
  outline: none; /* Remove button focus outline */
  touch-action: manipulation; /* Improves touch response */
}
/* Remove focus outline for all elements */
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Prevents text selection on buttons & interactive elements */
button, a, input, textarea {
  user-select: none;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}
